body { 
  background: MediumSeaGreen; 
}

.home{
	background: #b4b4b4; 
}

* {
  box-sizing: border-box;
}

.container {
  width: 300px;
  padding: 10px; 
  border: 2px solid SeaGreen;
  background: white;
  border-radius: 8px;
}

h1, h3, .txt {
color: SeaGreen;
text-align: center;
}

.btn {
background: SeaGreen;
color: white;
text-align: center;
border-radius: 8px;
font-size: 16px;
}

form {
  padding: 80px 220px;
  text-align: center;
}

.design{
	background: white;
	padding: 80px 220px; 
}

img {
	width: 500;
	height: 333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: SeaGreen;
}

.err{
	color: red;
}

.user {
	float: right; 
	color: white; 
	text-align: center;
	padding: 14px 16px;
}